@import "./base/settings";
@import "./base/base";
@import "./base/media";


.active {
    color: lightblue;
    text-decoration: none;
}

.addForm {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.expense-list {
    list-style: none;
}